div.hidden {
  display: none;
}

button.active {
  background: rgb(121, 63, 114);
  color: rgb(0, 0, 0);
}
div.active {
  border: 5px solid red;
  display: block;
}

div.inactive {
  display: none;
}

ul li{
  display: inline;
}

img.bigcoin {
  width: 100px;
}

img.smallcoin {
  width: 50px;
}

img#callcoin {
  opacity: 0.5;
}
